.container_bigDay{
   border: 1px dotted greenyellow;
   
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width:360px;
    min-width: 320px;
    height:100vh;
    background-color: rgba(30, 33, 58, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px 24px 16px;
    
}
   
.container_buttons{
    border: 1px dotted yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
  
    
}
.nubes_background{
    position: absolute;
    width: 100%;
    
    top: 10%;
    opacity: 20%;
}

@media (max-width:768px) {
    .container_bigDay {
        width: 100%;
        max-width: 700px;
        min-width: 360px;
       /*  max-width:620px;
        min-width: 320px; */
        height: 100vh;
    }
}