
.container_location{
    border: 1px dotted red;
    position: absolute;
    bottom: 48px;
    width: 94px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    gap: 11px;
}
.img_location{
    width: 18px;
    height: 18px;
    opacity: 1px;
    opacity: 25%;
}
.text_location{
/*     border: 1px dotted white; */
    width: 68px;
    height: 21px;
    font-size: 18px;
    color: rgba(136, 134, 157, 1);
}